body {
  margin: 0 auto;
}

.page-header {
  background-image: url(./image/image_background.svg);
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  position: relative;
}

.title {
  color: white;
  font-size: 35px;
}

.menu {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-top: 0;
}

ul {
  list-style: none; 
  padding-left: 0; 
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.item {
  color: white;
  font-size: 20px;
}

.sign-up {
  color: white;
  font-size: 25px;
}

.sign-up-text {
  font-size: 25px;
  padding: 3px 20px;
  border-radius: 35px;
  border: solid rgb(202, 195, 195);
}

.btn-menu {
  display: none;
}

.header-top-text {
  color: white;
  position: absolute;
  top: 28%;
  left: 7.5%;
  width: 20%;
  font-size: 60px;
}

.header-bottom-text {
  color: white;
  position: absolute;
  font-size: 20px;
  left: 7.5%;
  top: 50%;
}

.pic-items {
  position: absolute;
  top: 56%;
  left: 7.5%;
}

.hearfer-info {
  width: 84%;
  height: 170px;
  background-color: rgb(65, 82, 116);
  position: absolute;
  top: 74%;
  left: 7.5%;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
}

hr {
  margin: 0;
  border-color: rgb(54, 54, 112);
}

.arrival {
  color: rgba(255, 246, 233, 0.699);
  width: 22%;
}

.info-title {
  margin: 25px 0;
  width: 100%;
  margin-left: 35px;
}

.info-weather {
  display: flex;
  margin-left: 35px;
}

.date {
  font-size: 70px;
  margin-right: 20px;
  color: white;
}

.years {
  font-size: 25px;
  margin-top: 10px;
  margin: 12px 0 0 0;
  color: white;
}

.week {
  margin: 5px 0;
  font-size: 18px;
}

.onlyDropDown {
  margin-top: -15px;
  margin-left: 5px;
}

.departure {
  color: rgba(255, 246, 233, 0.699);
  width: 22%;
}

.acbox {
  display: none;
}

.adults {
  color: rgba(255, 246, 233, 0.699);
  width: 11%;
}

.children {
  color: rgba(255, 246, 233, 0.699);
  width: 11%;
}

.adults-children-box {
  display: flex;
  justify-content: space-around;
  width: 100px;
  margin: 0 auto;
  margin-top: -70px;
  color: white;
}

.adults-children-box img {
  margin-top: -10px;
}

.adults-children-box p {
  font-size: 70px;
}

.check-availability {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-availability p{
  font-size: 16px;
  border-radius: 25px;
  background-color: rgb(121, 214, 121);
  width: 90%;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.btn-dropdown {
  position: absolute;
  top: 87%;
  left: 46.7%;
}

.btn-dropdown img {
  width: 55px;
  height: 55px;
}

/* nav */
.page-nav {
  height: 800px;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text-box {
  width: 42%;
}

.nav-content {
  font-size: 19px;
  color: gray;
}

.nav-D {
  margin-top: 20px;
  line-height: 30px;
}

.nav-text {
  font-size: 50px;
}

.nav-aboutus {
  border-radius: 25px;
  border: solid rgb(202, 195, 195);
  margin-top: 40px;
  width: 140px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.nav-pic-box {
  width: 42%;
}

.nav-pic-box img {
  width: 100%;
}

.bg-white {
  background-color: white;
  position: absolute;
  width: 42%;
  margin-top: -151px;
  height: 20%;
  border-radius: 0px 0px 17px 17px;
  display: flex;
}

.bg-white img {
  width: 90px;
  height: 90px;
  margin: 40px 0 40px 40px;
}

.play-vedio {
  margin: 45px 0 0 20px;
  font-size: 25px;
}

.play-vedio p {
  margin-top: 15px;
  color: gray;
}

/* footer */
.page-footer {
  background-color: rgb(65, 82, 116);
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.footer-left {
  width: 60%;
}

.footer-right {
  width: 25%;
}

.left-hotel {
  font-size: 65px;
  color: white;
  margin-top: 78px;
  margin-bottom: 25px;
}

.left-info {
  display: flex;
  font-size: 18px;
  flex-flow: wrap;
}

.pic-text {
  display: flex;
  color: white;
  align-items: center;
  margin-right: 30px;
}

.pic-text img {
  margin-right: 15px;
  width: 20px;
  height: 18px;
}

.location {
  color: rgba(230, 212, 212, 0.932);
}

.right-subscribe {
  margin-top: 80px;
  font-size: 30px;
  color: white;
}

.footer-right input {
  margin-bottom: 10px;
  width: 280px;
  height: 35px;
  margin-top: 20px;
}

.footer-right p {
  color: rgba(230, 212, 212, 0.932);
}

/*平板*/
@media screen and (min-width: 781px) and (max-width: 1024px){ 
  .hearfer-info {
    width: 93%;
    left: 3.5%;
}
  
  .menu {
    width: 50%;
  }

  .header-top-text {
    left: 3%;
    top: 13%;
  }

  .header-bottom-text {
    left: 3%;
    top: 36%;
  }

  .pic-items {
    top: 45%;
    left: 3%;
  }

  .info-title {
    margin: 25px 0 20px 18px;
    width: 60%;
    font-size: 15px;
  }

  .info-weather {
    margin-left: 15px;
  }

  .date {
    font-size: 45px;
    margin-right: 7px;
  }

  .years {
    font-size: 18px;
    margin: 7px 0 0 0;
  }

  .week {
    margin: 5px 0;
    font-size: 18px;
  }

  .onlyDropDown {
    margin-left: 2px;
  }

  .btn-dropdown {
    left: 45.7%;
  }

  .adults-children-box p {
    font-size: 45px;
  }

  .adults-children-box {
    margin-top: -42px;
  }

  .check-availability p {
    font-size: 12px;
  }

  .footer-left {
    width: 40%;
  }
  
  .footer-right {
    width: 40%;
  }

  .left-info {
    flex-flow: wrap;
  }

  .page-footer {
    height: 400px;
  }
}

/*手機*/
@media screen and (min-width: 320px) and (max-width: 780px){ 
  .menu {
    display: none;
  }

  .btn-menu {
    display: block;
    width: 48px;
    height: 48px;
  }

  .header-top-text {
    left: 9%;
    top: 15%;
    width: 45%;
  }

  .header-bottom-text {
    left: 9%;
    top: 38%;
  }

  .sign-up {
    display: flex;
  }
  
  .sign-up-text {
    height: 30px;
    margin-right: 15px;
  }

  .pic-items {
    top: 46%;
  }

  .hearfer-info {
    display: block;
    height: 680px;
    top: 57%;
  }

  .info-weather {
    margin-bottom: 20px;
    width: 335px;
  }

  .adults, .children, .ac-hr {
    display: none;
  }

  .acbox {
    display: flex;
    height: 160px;
  }

  .ph-adults {
    width: 50%;
  }

  .ph-children {
    width: 50%;
  }

  .info-title.adults-title {
    text-align: center;
    margin: 0px auto;
    margin-top: 20px;
    color: rgba(255, 246, 233, 0.699);
  }

  .adults-children-box {
    margin-top: -60px;
  }

  .check-availability {
    width: 100%;
    height: 25%;
  }

  .check-availability p {
    width: 50%;
    font-size: 18px;
  }

  .btn-dropdown {
    top: 120%;
    left: 45.7%;
  }

  .page-nav {
    width: 100%;
    display: block;
    height: 1400px;
  }

  .nav-text-box {
    width: 85%;
    margin: auto;
    padding-top: 350px;
  }

  .bg-white {
    width: 85%;
  }

  .bg-white img {
    margin: 30px 0 40px 40px;
  }

  .play-vedio {
    margin: 35px 0 0 20px;
  }

  .nav-pic-box {
    padding-top: 100px;
    width: 85%;
    margin: auto;
  }

  .footer-left {
    width: 100%;
  }
  
  .footer-right {
    width: 100%;
  }

  .page-footer {
    display: block;
    height: 560px;
  }

  .left-hotel {
    line-height: 140px;
    margin: 0 0 0 35px;
  }

  .left-info {
    display: block;
  }

  .pic-text {
    font-size: 20px;
    padding: 0 35px;
  }

  .right-subscribe {
    margin: 45px 0 0 35px;
  }

  .footer-right input, .footer-right p {
    margin-left: 35px;
  }
}